* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}



.hero {
    
    /* margin-top: 15%; */
   height:100vh;
}

.hero h3 {
    
    text-align: center;
    margin-bottom: 1em;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero img{
    margin-left:35%;
   
}

.hero a{
    text-decoration: none;
    color:#DC143C;
}
