* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


header {
    
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../assets/images/hero5.jpeg); 
    background-size:cover;
    background-position:top;
    background-attachment: fixed;
}


nav {
 background-color:#FFF8DC;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom:3px solid rgb(255, 2, 44);
    background-color: white;
    position:fixed;
    top:0;
    left:0;
    right:0;
    
}

.nav-logo {
    text-decoration: none;
    color: black;
    font-size:30px;
    font-weight:600;
}

.nav-ul {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}

.nav-ul li {
    list-style: none;
    margin-right: 0.5em;
}

.nav-ul a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-ul a:active{
    color:rgb(255, 2, 44);
}

.nav-ul a:hover{
    color:rgb(255, 2, 44);
    font-weight: bold;
}

.hero {
    
    /* margin-top: 15%; */
    margin-left: 25%;
    height: 35%;
    width: 50%;
    padding: 10px;
}

.hero h3 {
    margin-top:30%;
    text-align: center;
    margin-bottom: 1em;
    color:white;
}

.hero h1 {
    font-size: 80px;
    margin-bottom: 0.6em;
    text-align: center;
    color:white;
}

span{
    color:rgb(255, 2, 44);
}

.download-btn {
    padding: 15px;
    font-size: 18pt;
    font-weight: bolder;
    margin-left: 35%;
    border:none;
    
    
}
.download-btn a{
    text-decoration:none;
    color:black;
}
.download-btn:hover{
    background-color: rgb(255, 2, 44);
}
.download-btn a:hover{
  color:white;
}

.about-section {
    height: 100vh;
    display: flex;
    flex-direction: row;
   margin-left:10%;
}
.about-container{
    margin-left:10%;
    width:70%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-text {
    width: 50%;
    margin-top:15%;
    line-height: 3em;
   justify-content: start; 
    
}

.about-text h2 {
    font-size: 40px;
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 1em;
    
    text-decoration-color: grey;
    text-decoration-style:solid;
}
.about-text p{
    font-size: 18px;
}
.about-img{
    border-radius:15px;
    /* border:2px solid rgb(255, 2, 44); */
    box-shadow:2px 2px 2px rgb(255, 2, 44);
    height:80%;
    margin-top:5%;
    width:35%;
    background-image: url(../assets/images/hero6.jpeg);
    background-size: cover;
}

.skills-section {
    height: 100vh;
    padding: 5px;
    background-color:#FFF8DC;
}

.skills-section-h2 {

    font-size: 40px;
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 2em;
    
    
    text-decoration-color: rgb(255, 2, 44);
    text-decoration-style: solid;
}
.skills-section-p {
    font-size: 20px;
    text-align: center;
    font-style:italic;
}
.skills-grid {
    /* w-[80%] h-[40%] ml-[10%] mt-[3em]  */
    width: 80%;
    height: 40%;
    margin-left: 10%;
    margin-top: 3em;

}
.skills-row-1 {
    /* flex flex row justify-between w-[100%] h-[100%] */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.skill-1 {
    /* w-[30%] mr-[1em] bg-[#eb2d53] */
    width: 30%;
    margin-right: 0.7em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
.skill-2 {
    /* w-[30%] mr-[1em] bg-[#eb2d53] */
    width: 30%;
    margin-right: 0.7em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
.skill-3 {
    /* w-[30%] mr-[1em] bg-[#eb2d53] */
    width: 30%;
    margin-right: 0.7em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
.skill-1 img {
    width: 60%;
    height: 80%;
    margin-left: 15%;
    margin-top: 10%;
}
.skill-2 img {
    width: 60%;
    height: 80%;
    margin-left: 15%;
    margin-top: 10%;
}
.skill-3 img {
    width: 60%;
    height: 80%;
    margin-left: 15%;
    margin-top: 10%;
}
.detail-txt1{
   margin-bottom:1em;
   margin-top:-1.5em;
   text-align: center;
}

.educ-section {
    height: 100vh;
    padding: 5px;
    
}
.educ-section-h2 {

    font-size: 40px;
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 2em;
   
    text-decoration-color: rgb(255, 2, 44);
    text-decoration-style: solid;
}
.educ-section-p {
    font-size: 20px;
    text-align: center;
}
.educ-grid {
    /* w-[80%] h-[40%] ml-[10%] mt-[3em]  */
    width: 80%;
    height: 40%;
    margin-left: 10%;
    margin-top: 3em;
}

.educ-row-1 {
    /* flex flex row justify-between w-[100%] h-[100%] */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.educ-1 {
    /* w-[30%] mr-[1em] bg-[#eb2d53] */
    width: 25%;
    margin-right: 1em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    padding:5px;
}
.educ-2 {
    /* w-[30%] mr-[1em] bg-[#eb2d53] */
    width: 25%;
    margin-right: 1em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    padding:5px;
}
.educ-3 {
    /* w-[30%] mr-[1em] bg-[#eb2d53] */
    width: 25%;
    margin-right: 1em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    padding:10px;
}
.educ-1 img{
    width:200px;
    height:auto;
    margin-left:1.5em;
    /* margin-top:1em; */
}
.educ-2 img{
    width:140px;
    height:auto;
   margin-left:3.5em;
  
}
.educ-3 img{
    height:auto;
    margin-top:30%;
    margin-left:1em;
    margin-bottom:45%;
}

.profcert-section {
    height: 100vh;
    background-color:#FFF8DC;
    padding: 5px;
}
.profcert-section-h2 {

    font-size: 40px;
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 2em;
   
    text-decoration-color: rgb(255, 2, 44);
    text-decoration-style: solid;
}
.profcert-section-p {
    font-size: 20px;
    text-align: center;
}
.profcert-grid {
    /* w-[80%] h-[40%] ml-[10%] mt-[3em]  */
    width: 80%;
    height: 40%;
    margin-left: 10%;
    margin-top: 3em;

}
.profcert-row-1 {
    /* flex flex row justify-between w-[100%] h-[100%] */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.profcert-1 {
    /* w-[30%] mr-[1em] bg-[#eb2d53] */
    width: 30%;
    margin-right: 1em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
.profcert-1 img{
    width:80%;
    height:80%;
    margin-left:1.5em;
    margin-top:1em;
}

.exp-section {
    height: 100vh;
    padding: 5px;
   
}
.exp-section-h2 {

    font-size: 40px;
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 2em;
   
    text-decoration-color: rgb(255, 2, 44);
    text-decoration-style: solid;
}
.exp-section-p {
    font-size: 20px;
    text-align: center;
}
.exp-grid {
    /* w-[80%] h-[40%] ml-[10%] mt-[3em]  */
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 3em;

}
.exp-row-1 {
    /* flex flex row justify-between w-[100%] h-[100%] */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.exp-1 {
    /* w-[30%] mr-[1em] bg-[#eb2d53] */
    width: 25%;
    margin-right: 1em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-left:1.5em;
    margin-top:1em;
}
.exp-2 {
    /* w-[30%] mr-[1em] bg-[#eb2d53] */
    width: 25%;
    margin-right: 1em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-left:1.5em;
    margin-top:1em;
}
.exp-3 {
    /* w-[30%] mr-[1em] bg-[#eb2d53] */
    width: 25%;
    margin-right: 1em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    padding:10px;
    margin-left:1.5em;
    margin-top:1em;
}

.exp-1 img{
    width:90%;
    height:auto;
    margin-top:30%;   
}
.exp-2 img{
    width:90%;
    height:auto;
    margin-top:30%;
}
.exp-3 h3{
    margin-top:40%;
    margin-left:25%;
    margin-bottom:6.5em;
}


.projects-sec{
    height:100vh;
   

}
.projects-sec h2{
    font-size: 40px;
    margin-bottom: 2em;
    text-align: center;
    margin-bottom: 1em;
   
    text-decoration-color: rgb(255, 2, 44);
    text-decoration-style: solid;
}


.projects-sec p{
    font-size:20px;
    text-align: center;
margin-bottom:2em;
font-style: italic;
}

.project-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 70%;
    margin:auto;
}

.pro-1{
    width: 45%;
    margin-right: 1em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    padding:10px;
    background-image: url(../assets/images/pro1.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:left ;
}
.pro-2{
    width: 45%;
    margin-right: 1em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    padding:10px;
    background-image: url(../assets/images/pro2.png);
    background-position:center ;
    background-size:contain;
    background-repeat: no-repeat;
    
}


.pro-1-img{

    width:100%;
    height:100%;
    margin-left:1em;
}
.pro-2-img{
    width:100%;
    height:100%;
    margin-left:1em;
}

.project-row a{
    
    color:rgb(255, 2, 44);
}
.contact-sec {
    height: 100vh;

}

.contact-text h2 {
    font-size: 40px;
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 2em;
 
    text-decoration-color: rgb(255, 2, 44);
    text-decoration-style: solid;
}

.contact-text p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 1em;
}

.contact-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin:auto;
}

.form-cont {
    width: 60%;
    height: 70%;
    

}

form {

    padding: 2em;
    margin-left: 10%;
    background-color:#FFF8DC;
    /* margin-right: 1em; */
    border-radius:5px;
    
}

#contact-icon {
    font-size: 2em;
    margin-bottom: 5px;
    
}

.contact-info {

    display: flex;
    flex-direction: column;
    align-items: center;
}



.contact-info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 6px;
}

.contact-info p {
    margin-bottom: 1em;
    color: grey;
}

.input-row-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 91%;
}

.input-row-flex input{
    border: 1px solid rgb(255, 2, 44);

}
.input-row-flex input {
    height: 3em;
    width: 45%;
    margin-bottom: 1em;
   
}

.subj-input {
    height: 3em;
    width: 90%;
    margin-left: 10px;
    margin-bottom: 1em;
    border: 1px solid rgb(255, 2, 44);

}

.mess-input {
    height: 6em;
    width: 90%;
    margin-left: 10px;
    margin-bottom: 1em;
    border: 1px solid rgb(255, 2, 44)
}

.submit-btn {
    padding: 15px;
    background-color: rgb(255, 2, 44);
    font-weight: bolder;
    font-size: 18pt;
    margin-left: 10px;
    border:none;
    color:white;
}



.contact-info {
    width: 30%;
    height: 70%;
    
}
.contact-info i{
   color:black;
}
.contact-info p{
    color:black;
}

footer{
   height:20vh;
   background-color:#FFF8DC;
   padding-top:1em;
}
footer p{
    text-align: center;

}
.level-up i{
color:rgb(255, 2, 44);
margin-left:3px;
}
.footer-flex{
    margin:auto;
    display:flex;
    width:30%;
    justify-content: space-between;
    align-items: center;
}
.footer-flex i{
    font-size: 2em;
    margin-top:0.5em;
    color:black;
}